* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
.nav {
    background: #3AAFA9;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch; 
    gap: 2rem;
    padding: 0 1rem;
}
.nav h1{
    font-size: 2rem;
}
.nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}
.nav a{
    color: inherit;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.1rem;
    padding-bottom: 0.2rem;
    color: #17252A;
    font-size: 2.0rem;
    font-weight: bold;
}
.nav li.active {
    background-color: #444;
}
.nav li.hover {
    background-color: #666;
}

.nav-title {
    color: #17252A;
    padding-top: 0.1rem;
    padding-bottom: 0.2rem;
}
nav{
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-right-width: 2px;
    border-style: solid;
    border-color: #17252A;
}

